.wrapper{
    margin:auto;
    margin-top: 10%;
    width:60%;
    text-align: center;
}

.title{
    text-align: center;
    font-size: 600%;
    font-weight: 300;
    color: white;
    padding: 2rem;
}

@media screen and (max-width:576px){
    .title{
        font-size: 300%;
        padding: 2rem 0rem;
    }
}

.hover-bg{
    width:90%;
    margin: auto;
    display: block;
    padding: .35rem .5rem;
    text-align: center;
    color: darkslategray;
    border: lightgray 1px solid;
    border-radius: 6px;
}

.hover-bg:hover{
    color:white;
    background-color: black;
    border: black 1px solid;
    cursor: pointer;
}