.wrapper{
    margin:auto;
    margin-top: 10%;
    width:60%;
    text-align: center;
}

.title{
    text-align: center;
    font-size: 600%;
    font-weight: 300;
    color: white;
    padding: 2rem;
}