@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 
 .fadeInDown {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }

 @-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInLeft {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
 }

 .deleteLink{
    color:white;
    background-color: #dc3545;
    padding: 0.25rem 0.5rem;
    position: absolute;
    right: 16px;
    border-radius: 0.25rem;
 }
 .deleteLink:hover{
   background-color: #c82333;
   border-color: #bd2130;
    color: white;
    cursor: pointer;
 }

 .container{
    color:white;
    width:100%;
    margin:auto;
    margin-top: 8%;
 }

 @media screen and (max-width:600px){
    .container{
       margin-top: 15%;
    }
 }

 @media screen and (min-width:1300px) {
    .container{
       width:50%;
       margin-top: 5%;
    }
 }