    <div class="card" style="width: 30%; margin-left: 35%; margin-top: 10%;">
        <div class="card-header">
          <nav class="navbar navbar-light">
            <ul class="nav nav-tabs navtabs-center card-header-tabs">
              <li class="">
                <a class="nav-link" routerLink="/signin" href="#">Sign In</a>
              </li>
              <li class="">
                <a class="nav-link" routerLink="/signup" href="#">Sign Up</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    
