.wrapper{
    background-color: white;
    border: lightgray;
    border-radius: 6px;
    width:30%;
    margin: auto;
    margin-top: 10%;
    padding: 0.75rem 1.5rem 1.5rem 1.5rem;
}

@media screen and (max-width:1000px){
    .wrapper{
        width: 60%;
        margin-top: 15%;
    }
}

@media screen and (max-width:600px){
    .wrapper{
        width: 90%;
        margin-top: 18%;
    }
}

.hover-bg:hover{
    background-color: rgb(196, 194, 194);
    color: white;
    text-decoration: none;
}

.active-bg{
    color: white;
    text-decoration: none;
    border:black solid 1px;
    background-color: black;

}
a{
    padding: 0.5rem 1rem;
    color: #495057;
    border-radius: 8px;
    border: lightgray solid 1px;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}